/* This centers everything on the whole screen */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center;     /* Vertical center */
  min-height: 100vh;       /* Use full height of the browser */
  background-color: #0d0e0e; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-container {
  width: 100%;
  max-width: 400px; /* Standard mobile width */
  background: #ecece0f3;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(36, 35, 35, 0.842); /* Soft shadow for "lift" */
  box-sizing: border-box;
}

.card {
  border: 1px solid #dfe4e8;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
  background: #fdfdfd;
}

.input-style {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #cbd5e0;
  box-sizing: border-box;
  font-size: 16px;
}

.btn-pay {
  width: 100%;
  padding: 15px;
  background: #3182ce;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s;
}

.btn-pay:hover {
  background: #2b6cb0;
}

.food-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #edf2f7;
}

.add-btn {
  background: #3182ce;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
}

.payment-qr {
  background: white;
  padding: 15px;
  display: inline-block;
  border: 4px solid #2d3748;
  border-radius: 12px;
  margin: 20px 0;
}

.verifying {
  background: #ebf8ff;
  padding: 15px;
  border-radius: 10px;
  color: #2b6cb0;
  font-weight: bold;
}
.logout-btn:hover {
  background-color: #dc0707;
}