<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | QuickQ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">QuickQ</div>
        <div class="nav-links">
            <a href="index.html" class="btn-secondary">Home</a>
        </div>
    </nav>

    <!-- Login Section -->
    <section class="hero">
        <h1>Login to QuickQ</h1>

        <div class="login-box">
            <form>
                <input type="email" placeholder="College Email" required>
                <input type="password" placeholder="Password" required>

                <button type="submit" class="btn-primary">Login</button>
            </form>
        </div>
    </section>

    <script src="../static/js/main.js"></script>
</body>
</html>
